{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}
    <h1>
        Starshop: your monopoly-busting option for Starship parts!
    </h1>

    <div>
        Browse through {{ ships|length }} starships!
    </div>

    <div>
        <h2>My Ship</h2>
        <table>
            <tr>
                <th>Name</th>
                <td><a href="{{ path('app_starship_show', { id: myShip.id }) }}">{{ myShip.name }}</a></td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ myShip.class }}</td>
            </tr>
            <tr>
                <th>Captain</th>
                <td>{{ myShip.captain }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ myShip.status }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
